/*Generell.css*/

h1{
    display: flex;
    font-size: 35px;
    margin: 0;
    font-weight: bolder;

}

h2{
    display: flex;
    font-weight: lighter;
}

/*Mobil.css*/
@media screen and (max-width: 450px) {
    /* MAIN SIDA*/
    #main{
    display: grid;
    grid-template-areas: 
    "head"
    "bild"
    "wel"
    "tack"
    "foot";
    }
    .material-symbols-outlined {
        
    }
    #headr {
        grid-area: head;
        display: flex;
        justify-content: space-between;
    }
    .pic {
        display: flex;
        justify-content: center;
    }
    #piccy {
        grid-area: bild;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        object-fit: cover;
        padding: 20px;
    }

    .text {
        grid-area: wel;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    #title{
        color: black;
        font-weight: 600;   
    }
    
    #linking{
        grid-area: tack;
        display: flex;
        justify-content: space-evenly;
    }

    .btn {
        background-color: black;
        border-radius: 2rem;
        width: 110px;
        height: 50px;
        color: white;
        font-weight: 500;

    
    }

    #footr {
        grid-area: foot;
    }

    /* ABOUT SIDA */

    #about{
    display: grid;
    grid-template-areas: 
    "hed hed"
    "tex tex"
    "bill exp"
    "tet tet"
    "fot fot";
    }

    #heady{
        grid-area: hed;
        display: flex;
        justify-content: right;
        
    }

    #texty{
        grid-area: tex;
        display: flex;
        justify-content: center;
        font-weight: bolder;
    }

    #pict{
        grid-area: bill;
        border-radius: 20%;
        height: 150px;
        width: 125px;
        object-fit: cover;
        padding: 20px;
    }

    #exp{
        display: flex;
        padding: 10px;
        flex-direction: column;¨
    }

    .exper{
        display: flex;
    }

    #tet{
        grid-area: tet;
        display: flex;
        justify-content: center;
    }
    
    /*EXPERIENCE SIDA*/

    #expsida{
        display: grid;
        grid-template-areas: 
        'Headdr '
        'Texas'
        'textr1'
        'textr2'
        'foot23';
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        justify-items: center;
        
    }

    #title{
        grid-area: Texas;
        display: flex;
        justify-content: center;
    }

    #navknapp{
        grid-area: headdr;
        display: flex;
        justify-content: end;
        
    }

    #expe1{
        grid-area: textr1;
        display: flex;
        padding: 15px;
    }

    #expe2{
        grid-area: textr2;
        display: flex;
        padding: 15px;
    }

}

    